{{#schemas}}{{#value}}
{{#isArraySchema}}public type {{key}}Array { {{#properties}}
    {{#value}}{{#equals ../../key type}}{{type}}?{{else}}{{type}}{{/equals}}{{/value}} {{key}},{{/properties}}
};{{/isArraySchema}}{{^isArraySchema}}
public type {{key}} record { {{#properties}}
    {{#value}}{{#equals ../../key type}}{{type}}?{{else}}{{type}}{{/equals}}{{/value}} {{key}},{{/properties}}
};{{/isArraySchema}}{{/value}}{{/schemas}}